@use "sass:math";

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (prefers-reduced-motion: no-preference) {
  #restaurant-cards,
  #menu-cards {
    animation-name: fade-in;
    animation-duration: 400ms;
    animation-delay: 400ms;
    animation-fill-mode: both;
  }
}

@for $i from 1 to 10 {
  #restaurant-cards:nth-child(#{$i}) {
    animation-delay: $i * 1s;
  }
  #menu-cards:nth-child(#{$i}) {
    animation-delay: $i * 1s;
  }
}

#fonctionnement-card {
  background-color: $grey;
  flex-direction: row;
  overflow: visible;
  display: visible;
  align-items: center;
  .title {
    position: relative;
    right: 2em;
  }
  .icon,
  .cards__cards__card__title {
    padding: 0;
    margin: 0;
  }
  .icon {
    color: $icon;
  }
}
#restaurant-card {
  box-shadow: none;
  .cards__cards__card__titles {
    width: auto;
    margin-left: 0;
    padding-left: 0;
  }
  .heart {
    margin-right: 3rem;
    padding-top: 0.8rem;
  }
  .icon {
    margin-top: 1rem;
    position: relative;
    cursor: pointer;
    .card-btn {
      position: absolute;
    }
    &:hover {
      & .heart--outline {
        display: none;
        color: $pink;
      }
    }
    &:hover {
      & .heart--bg {
        display: block;
        transition: opacity 1s;
        opacity: 1;
      }
    }
    .heart--outline {
      opacity: 1;
      &:active {
        display: none;
        color: transparent;
      }
    }
    .heart--bg {
      opacity: 0;
      background-image: $pink;
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: $pink;
      &:active {
        display: block;
        opacity: 1;
      }
    }
  }
}

#menu-card {
  position: relative;
  overflow: hidden;
  height: 5.4em;
  .cards__card {
    position: relative;
  }
  .cards__card__content {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &__ellipsis {
      display: inline-block;
      width: 90%;
    }
  }
  .cards__card__titles {
    width: 85%;
    transition: transform 0.3s ease;
  }
  .cards__card__icons {
    padding: 0;
    margin: 0 0.5em;
    align-self: end;
  }

  &:hover {
    .checkmark,
    #heart {
      transform: translateX(-65px);
    }
    .cards__card__subtitle {
      width: 90%;
    }
    .cards__card__titles {
      width: 70%;
    }
  }

  #heart {
    transition: transform 0.3s ease;
    right: 30px;
  }
  .checkmark {
    position: absolute;
    top: -15px;
    right: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 110%;
    background-color: $green;
    border-radius: $base-border-radius;
    transition: transform 0.3s ease;
    &:hover {
      transform: translateX(20px);
    }
    .fa-check {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $white;
      color: $green;
      text-align: center;
      line-height: 30px;
    }
  }
}

.cards {
  opacity: 0;
  &__card {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin: $base-margin auto;
    @include box-shadow;
    border-radius: math.div($base-border-radius, 1);
    width: 100%;
    background-color: $white;
    overflow: hidden;

    &__title {
      font-size: $font-size-xl;
      padding: 0;
      font-weight: bold;
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      font-size: $base-font-size;
      width: auto;
    }
    &__subtitle {
      font-weight: 300;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: transform 0.3s ease;
    }

    &__body {
      font-size: $font-size-sm;
      a {
        text-decoration: underline;
      }
    }
    &__icons {
      width: 10%;
      display: flex;
      justify-content: center;
    }
    &__tag {
      position: absolute;
      right: 2em;
      top: 1em;
      padding: 0.5em;
      color: $greenfont;
      background-color: $green;
      max-width: inherit;
    }
    &__img {
      display: block;
      width: 100%;
      height: 13em;
      overflow: hidden;
      margin: 0;
      object-fit: cover;
      position: relative;

      img {
        margin: 0;
        object-fit: cover;
        width: 100%;
        height: 23.4em;
        max-height: -webkit-fill-available;
      }
    }
    &__content {
      display: flex;
      justify-content: space-between;
      margin-left: 0;
      padding-left: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  #fonctionnement-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    #fonctionnement-card {
      background-color: $grey;
      width: 20em;
      overflow: visible;
      align-items: center;
      .title {
        position: relative;
        right: 2em;
      }
      .icon,
      .cards__cards__card__title {
        padding: 0;
        margin: 0;
      }
    }
  }
  #restaurant-cards {
    width: 33em;
  }
  #menu-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    #menu-card {
      width: 75%;
    }
  }
  .cards {
    display: flex;
    .card {
      background-color: $primary;
      border: $base-border-thickness solid #fff;
      border-radius: math.div($base-border-radius, 10);
      width: 20em;
    }
  }
}
