.icon {
  position: relative;
  display: flex;
  width: fit-content;
}

.icon i {
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.icon .far.fa-heart {
  z-index: 2;
}

.icon .fas.fa-heart {
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease, background-position 0.5s;;
}

.icon:hover .fas.fa-heart {
  opacity: 1;
  background: linear-gradient(180deg, $pink 7%, $purple 100%);
  background-size: 100% 200%;
  background-position: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.far.fa-heart {
  position: absolute;
  width: 100%;
  height: 20px;
  background: linear-gradient(180deg, $pink 7%, $purple 100%);
  background-size: 100% 200%;
  background-position: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: background-position 0.5s;
}

.dot {
  display: flex;
  justify-content: center;
  min-width: 1.5em;
  height: 1.5em;
  align-items: center;
  line-height: 1em;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  border: 2px solid var(--grey-shade);
  background-color: $purple;
  color: $white;
  font-weight:300;
  font-size: $base-font-size;
  position: relative;
  right: 1.3em;
  z-index: 4;
  font-size: inherit;
}

.tag {
  position: absolute;
  right: 2em;
  padding: 0.5em;
  background-color: aquamarine;
}

.logoFooter{
  width: 50%;
  height: auto;
  padding-top:1em;
  padding-left  :1em;
}

#mobile{
  visibility: visible;
}
#desktop{
  visibility: hidden;
}

@media screen and (min-width: 1200px) {
  .logoFooter{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  #mobile{
    visibility: hidden;
  }
  #desktop{
    visibility: visible;
  }
}
