.icon {
  // position: relative;
  display: flex;
}

.icon i {

  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.icon .far.fa-heart {
  z-index: 2;
}

.icon .fas.fa-heart {
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.icon:hover .fas.fa-heart {
  opacity: 1;
}

.icon:hover .far.fa-heart {
  opacity: 0;
}



.fa-solid.fa-check{
  background: linear-gradient(180deg, $pink 7%, $purple 100%);
}

.far.fa-heart {
  position: absolute;
  width: 100%;
  height: 20px;
  background: linear-gradient(180deg, $pink 7%, $purple 100%);
  background-size: 100% 200%;
  background-position: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: background-position 0.5s;
}

.icon:hover .far.fa-heart {
  background-position: 0% 0%;
}

.fas.fa-heart {
  // position: relative;
  width: 100%;
  height: 20px;
  background: linear-gradient(180deg, $pink 7%, $purple 100%);
  background-size: 100% 200%;
  background-position: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: background-position 0.5s;
}

.icon:hover .fas.fa-heart {
  background-position: 0% 0%;
}

.dot {
  display: flex;
  justify-content: center;
  min-width: 1.5em;
  height: 1.5em;
  align-items: center;
  line-height: 1em;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  border: 2px solid var(--grey-shade);
  background-color: $purple;
  color: $white;
  font-weight:300;
  font-size: $base-font-size;
  position: relative;
  right: 1.3em;
  z-index: 4;
  font-size: inherit;
}

.tag {
  position: absolute;
  right: 2em;
  padding: 0.5em;
  background-color: aquamarine;
}