@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0.75em;
}

a {
  color: #353535;
}

html, body, nav, footer, header, main {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #353535;
}
html header, body header, nav header, footer header, header header, main header {
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  position: absolute;
  left: 10px;
}

main {
  height: -moz-fit-content;
  height: fit-content;
}

.relative {
  position: relative;
  margin: 0;
}

body {
  overflow-x: hidden;
  z-index: 20;
  background-position: top center;
}

button {
  border: #353535;
  background-color: beige;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

ul {
  padding: 0;
  list-style-type: none;
}

.test {
  color: #F3F3F3;
}

#main {
  margin-bottom: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 1em auto;
  padding: 1em;
  box-sizing: border-box;
  background-color: #F3F3F3;
}
.container__title {
  color: #353535;
}
.container .content-test {
  font-weight: normal;
}
.container__reserver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
}
.container__reserver h1,
.container__reserver p {
  text-align: center;
}
.container__reserver .btn {
  justify-content: center;
}
.container__commander {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
}
.container__restaurants {
  background-color: #F3F3F3;
  padding-bottom: 0;
  margin-bottom: 0;
}
.container__fonctionnement {
  background-color: #FFF;
}
.container__fonctionnement h1 {
  margin: 10em;
}
.container__menus {
  border-radius: 40px 40px 0 0;
  position: relative;
  margin-top: -30px;
  padding: 0;
}
.container__menus__dish {
  margin: 0.75em 0.1em;
}
.container__menus__head {
  display: flex;
  justify-content: space-between;
}
.container__menus__head__h1 {
  display: flex;
  text-align: start;
  margin-left: 0;
}
.container__menus__head__title {
  display: flex;
  position: relative;
}
.container__menus__head__title__underline {
  width: 3em;
  height: 0.2em;
  position: absolute;
  top: 1em;
  left: 0;
  font-size: 20px;
  color: #fff;
  line-height: 100px;
  background: #99E2D0;
}
.container > a > h1 {
  margin: 0;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

header,
footer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #FFF;
  background-color: #353535;
}
footer ul {
  display: flex;
  flex-direction: column;
}
footer ul li {
  margin: 0;
}
footer ul li .fa-solid fa-list-ul {
  margin-left: 0;
  background-color: greenyellow;
}

.city {
  display: flex;
  justify-content: center;
  background: #EAEAEA;
  padding: 0;
  margin: 0;
}

.section {
  width: 100%;
  background-color: #F3F3F3;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .container__title {
    color: #353535;
  }
  .container__restaurants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
  }
  .container__restaurants__cards {
    width: 100%;
  }
  .container__fonctionnement {
    display: flex;
    background-color: #FFF;
  }
  .container__fonctionnement h1 {
    margin: 10em;
  }
  .container__menus {
    border-radius: 40px 40px 0 0;
    position: relative;
    margin-top: -30px;
    padding: 0;
    max-width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .container__menus__dish {
    margin: 0.75em 0.1em;
    width: 40em;
    justify-content: space-around;
  }
  .container__menus__head {
    display: flex;
    justify-content: space-evenly;
  }
  footer {
    height: 10em;
    padding-bottom: 3em;
    padding-top: 5em;
    display: flex;
    flex-direction: row-reverse;
  }
  footer img {
    height: 2em;
  }
  footer ul {
    display: flex;
    flex-direction: row;
  }
  footer ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  footer ul li .fa-solid fa-list-ul {
    margin-left: 0;
    background-color: greenyellow;
  }
}
.pink {
  color: #9356DC;
}

.shrikhand {
  font-family: "Shrikhand", cursive;
  margin-left: 0;
  font-size: 24px;
  color: #353535;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@media (prefers-reduced-motion: no-preference) {
  #restaurant-cards, #menu-cards {
    animation-name: fade-in;
    animation-duration: 400ms;
    animation-delay: 400ms;
    animation-fill-mode: both;
  }
}
#restaurant-cards:nth-child(1) {
  animation-delay: 1s;
}

#menu-cards:nth-child(1) {
  animation-delay: 1s;
}

#restaurant-cards:nth-child(2) {
  animation-delay: 2s;
}

#menu-cards:nth-child(2) {
  animation-delay: 2s;
}

#restaurant-cards:nth-child(3) {
  animation-delay: 3s;
}

#menu-cards:nth-child(3) {
  animation-delay: 3s;
}

#restaurant-cards:nth-child(4) {
  animation-delay: 4s;
}

#menu-cards:nth-child(4) {
  animation-delay: 4s;
}

#restaurant-cards:nth-child(5) {
  animation-delay: 5s;
}

#menu-cards:nth-child(5) {
  animation-delay: 5s;
}

#restaurant-cards:nth-child(6) {
  animation-delay: 6s;
}

#menu-cards:nth-child(6) {
  animation-delay: 6s;
}

#restaurant-cards:nth-child(7) {
  animation-delay: 7s;
}

#menu-cards:nth-child(7) {
  animation-delay: 7s;
}

#restaurant-cards:nth-child(8) {
  animation-delay: 8s;
}

#menu-cards:nth-child(8) {
  animation-delay: 8s;
}

#restaurant-cards:nth-child(9) {
  animation-delay: 9s;
}

#menu-cards:nth-child(9) {
  animation-delay: 9s;
}

#fonctionnement-card {
  background-color: #F6F6F6;
  flex-direction: row;
  overflow: visible;
  display: visible;
  align-items: center;
}
#fonctionnement-card .title {
  position: relative;
  right: 2em;
}
#fonctionnement-card .icon, #fonctionnement-card .cards__cards__card__title {
  padding: 0;
  margin: 0;
}
#fonctionnement-card .icon {
  color: #7E7E7E;
}

#restaurant-card {
  box-shadow: none;
}
#restaurant-card .cards__cards__card__titles {
  width: auto;
  margin-left: 0;
  padding-left: 0;
}
#restaurant-card .heart {
  margin-right: 3rem;
  padding-top: 0.8rem;
}
#restaurant-card .icon {
  margin-top: 1rem;
  position: relative;
  cursor: pointer;
}
#restaurant-card .icon .card-btn {
  position: absolute;
}
#restaurant-card .icon:hover .heart--outline {
  display: none;
  color: #FF79DA;
}
#restaurant-card .icon:hover .heart--bg {
  display: block;
  transition: opacity 1s;
  opacity: 1;
}
#restaurant-card .icon .heart--outline {
  opacity: 1;
}
#restaurant-card .icon .heart--outline:active {
  display: none;
  color: transparent;
}
#restaurant-card .icon .heart--bg {
  opacity: 0;
  background-image: #FF79DA;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #FF79DA;
}
#restaurant-card .icon .heart--bg:active {
  display: block;
  opacity: 1;
}

#menu-card {
  position: relative;
  overflow: hidden;
  height: 5.4em;
}
#menu-card .cards__card {
  position: relative;
}
#menu-card .cards__card__content {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#menu-card .cards__card__content__ellipsis {
  display: inline-block;
  width: 90%;
}
#menu-card .cards__card__icons {
  padding: 0;
  margin: 0 0.5em;
  align-self: end;
}
#menu-card:hover .checkmark, #menu-card:hover #heart {
  transform: translateX(-65px);
}
#menu-card:hover .cards__card__subtitle {
  width: 90%;
}
#menu-card #heart {
  transition: transform 0.3s ease;
}
#menu-card .checkmark {
  position: absolute;
  top: -15px;
  right: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 110%;
  background-color: #99E2D0;
  border-radius: 20px;
  transition: transform 0.3s ease;
}
#menu-card .checkmark:hover {
  transform: translateX(20px);
}

.cards {
  opacity: 0;
}
.cards__card {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0.75em auto;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  border-radius: 20px;
  width: 100%;
  background-color: #FFF;
  overflow: hidden;
}
.cards__card__title {
  font-size: 32px;
  padding: 0;
  font-weight: bold;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  font-size: 16px;
  width: auto;
}
.cards__card__subtitle {
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: transform 0.3s ease;
}
.cards__card__body {
  font-size: 12px;
}
.cards__card__body a {
  text-decoration: underline;
}
.cards__card__icons {
  width: 10%;
  display: flex;
  justify-content: center;
}
.cards__card__tag {
  position: absolute;
  right: 2em;
  top: 1em;
  padding: 0.5em;
  color: #008766;
  background-color: #99E2D0;
  max-width: inherit;
}
.cards__card__img {
  display: block;
  width: 100%;
  height: 13em;
  overflow: hidden;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.cards__card__img img {
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 23.4em;
  max-height: -webkit-fill-available;
}
.cards__card__content {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  padding-left: 0;
}

@media screen and (min-width: 1200px) {
  #fonctionnement-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #fonctionnement-cards #fonctionnement-card {
    background-color: #F6F6F6;
    width: 20em;
    overflow: visible;
    align-items: center;
  }
  #fonctionnement-cards #fonctionnement-card .title {
    position: relative;
    right: 2em;
  }
  #fonctionnement-cards #fonctionnement-card .icon, #fonctionnement-cards #fonctionnement-card .cards__cards__card__title {
    padding: 0;
    margin: 0;
  }
  #restaurant-cards {
    width: 33em;
  }
  #menu-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #menu-cards #menu-card {
    width: 75%;
  }
  .cards {
    display: flex;
  }
  .cards .card {
    background-color: #F3F3F3;
    border: 0.3em solid #fff;
    border-radius: 2px;
    width: 20em;
  }
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
  justify-content: space-around;
}
.navbar .navbar__link {
  margin-left: 30px;
  color: #242424;
  text-decoration: none;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #F3F3F3;
  width: -moz-fit-content;
  width: fit-content;
}

.test-btn {
  color: #FFF;
  background: linear-gradient(180deg, #FF79DA 7%, #9356DC 100%);
  font-weight: 700;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  transition-property: transform;
  transition: all 400ms;
}
.test-btn:hover {
  background: linear-gradient(180deg, #ff93e1, #a16be0);
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.31);
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #F3F3F3;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-primary:hover {
  background-color: white;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #F3F3F3;
}
.btn-outlined-primary:hover {
  background-color: #f3f3f3;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #99E2D0;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-secondary:hover {
  background-color: #ade8d9;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #99E2D0;
}
.btn-outlined-secondary:hover {
  background-color: #99e2d0;
}

.btn-third {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #008766;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-third:hover {
  background-color: #00a179;
}

.btn-outlined-third {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #008766;
}
.btn-outlined-third:hover {
  background-color: #008766;
}

.btn-fourth {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #89C8FA;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-fourth:hover {
  background-color: #a1d3fb;
}

.btn-outlined-fourth {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #89C8FA;
}
.btn-outlined-fourth:hover {
  background-color: #89c8fa;
}

.btn-fifth {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #003A68;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-fifth:hover {
  background-color: #004882;
}

.btn-outlined-fifth {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #003A68;
}
.btn-outlined-fifth:hover {
  background-color: #003a68;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #9356DC;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-purple:hover {
  background-color: #a16be0;
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #9356DC;
}
.btn-outlined-purple:hover {
  background-color: #9356dc;
}

.btn-pink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #FF79DA;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-pink:hover {
  background-color: #ff93e1;
}

.btn-outlined-pink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #FF79DA;
}
.btn-outlined-pink:hover {
  background-color: #ff79da;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: blue;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-info:hover {
  background-color: #1a1aff;
}

.btn-outlined-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid blue;
}
.btn-outlined-info:hover {
  background-color: blue;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: red;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-error:hover {
  background-color: #ff1a1a;
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid red;
}
.btn-outlined-error:hover {
  background-color: red;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #353535;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-black:hover {
  background-color: #424242;
}

.btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #353535;
}
.btn-outlined-black:hover {
  background-color: #353535;
}

.btn-background {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #EAEAEA;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-background:hover {
  background-color: #f7f7f7;
}

.btn-outlined-background {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #EAEAEA;
}
.btn-outlined-background:hover {
  background-color: #eaeaea;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #FFF;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #FFF;
}
.btn-outlined-white:hover {
  background-color: white;
}

.btn-grey {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #F6F6F6;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-grey:hover {
  background-color: white;
}

.btn-outlined-grey {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #F6F6F6;
}
.btn-outlined-grey:hover {
  background-color: #f6f6f6;
}

.btn-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #99E2D0;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-green:hover {
  background-color: #ade8d9;
}

.btn-outlined-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #99E2D0;
}
.btn-outlined-green:hover {
  background-color: #99e2d0;
}

.btn-icon {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #7E7E7E;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-icon:hover {
  background-color: #8b8b8b;
}

.btn-outlined-icon {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #7E7E7E;
}
.btn-outlined-icon:hover {
  background-color: #7e7e7e;
}

.btn-greenfont {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #008766;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-greenfont:hover {
  background-color: #00a179;
}

.btn-outlined-greenfont {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #008766;
}
.btn-outlined-greenfont:hover {
  background-color: #008766;
}

.icon {
  position: relative;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}

.icon i {
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.icon .far.fa-heart {
  z-index: 2;
}

.icon .fas.fa-heart {
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease, background-position 0.5s;
}

.icon:hover .fas.fa-heart {
  opacity: 1;
  background: linear-gradient(180deg, #FF79DA 7%, #9356DC 100%);
  background-size: 100% 200%;
  background-position: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.far.fa-heart {
  position: absolute;
  width: 100%;
  height: 20px;
  background: linear-gradient(180deg, #FF79DA 7%, #9356DC 100%);
  background-size: 100% 200%;
  background-position: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: background-position 0.5s;
}

.dot {
  display: flex;
  justify-content: center;
  min-width: 1.5em;
  height: 1.5em;
  align-items: center;
  line-height: 1em;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  border: 2px solid var(--grey-shade);
  background-color: #9356DC;
  color: #FFF;
  font-weight: 300;
  font-size: 16px;
  position: relative;
  right: 1.3em;
  z-index: 4;
  font-size: inherit;
}

.tag {
  position: absolute;
  right: 2em;
  padding: 0.5em;
  background-color: aquamarine;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  animation: hide-spinner 0.5s 1.5s forwards;
  margin: 0;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spinner 1.5s linear infinite;
}

@keyframes hide-spinner {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}/*# sourceMappingURL=main.css.map */