@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0.75em;
}

html, body, nav, footer, header, main {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #353535;
}
html header, body header, nav header, footer header, header header, main header {
  background-color: #FFF;
}
html .footer, body .footer, nav .footer, footer .footer, header .footer, main .footer {
  background-color: #353535;
}
html .footer h1, body .footer h1, nav .footer h1, footer .footer h1, header .footer h1, main .footer h1 {
  color: #F3F3F3;
}

main {
  height: -moz-fit-content;
  height: fit-content;
}

.relative {
  position: relative;
}

body {
  overflow-x: hidden;
  opacity: 0.7;
  z-index: 20;
  background-position: top center;
}

button {
  border: #353535;
  background-color: beige;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

ul {
  padding: 0;
  list-style-type: none;
}

.test {
  color: #F3F3F3;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 1em auto;
  padding: 1em;
  box-sizing: border-box;
  background-color: #EAEAEA;
}
.container__title {
  color: #353535;
}
.container .content-test {
  font-weight: normal;
}
.container__reserver {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
}
.container__reserver h1,
.container__reserver p {
  text-align: center;
}
.container__reserver .btn {
  justify-content: center;
}
.container__commander {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
}
.container__restaurants {
  background-color: #9356DC;
  padding-bottom: 0;
  margin-bottom: 0;
}
.container__fonctionnement {
  background-color: #FFF;
}
.container__fonctionnement h1 {
  margin: 10em;
}
.container__menus {
  border-radius: 40px 40px 0 0;
  position: relative;
  margin-top: -80px;
}
.container__menus__head {
  display: flex;
  justify-content: space-between;
}
.container__menus__head__h1 {
  display: flex;
  text-align: start;
  margin-left: 0;
}
.container__menus__head__title {
  display: flex;
  position: relative;
}
.container__menus__head__title__underline {
  width: 3em;
  height: 0.2em;
  position: absolute;
  top: 1em;
  left: 0;
  font-size: 20px;
  color: #fff;
  line-height: 100px;
  background: #99E2D0;
}
.container > a > h1 {
  margin: 0;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

header,
footer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.city {
  display: flex;
  justify-content: center;
  background: #EAEAEA;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .container__title {
    color: lightseagreen;
  }
}
.pink {
  color: #9356DC;
}

.shrikhand {
  font-family: "Shrikhand", cursive;
  margin-left: 0;
}

#fonctionnement-card {
  background-color: #F6F6F6;
  flex-direction: row;
  overflow: visible;
  align-items: center;
}
#fonctionnement-card .title {
  position: relative;
  right: 2em;
}
#fonctionnement-card .icon, #fonctionnement-card .cards__cards__card__title {
  padding: 0;
  margin: 0;
}

#restaurant-card {
  box-shadow: none;
}
#restaurant-card .cards__cards__card__titles {
  width: auto;
  background-color: yellow;
}

#menu-card .cards__cards__card__titles {
  width: auto;
  background-color: yellow;
}

.cards__card {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0.75em auto;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  border-radius: 20px;
  width: 100%;
  background-color: #FFF;
  overflow: hidden;
}
.cards__card__title {
  font-size: 32px;
  padding: 0;
  font-weight: bold;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  font-size: 16px;
  width: auto;
  background-color: bisque;
}
.cards__card__subtitle {
  width: auto;
  background-color: pink;
  font-weight: 300;
}
.cards__card__body {
  font-size: 12px;
}
.cards__card__body a {
  text-decoration: underline;
}
.cards__card__icons {
  width: 10%;
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
}
.cards__card__img {
  display: block;
  width: 100%;
  height: 50%;
  margin: 0;
  background-color: aqua;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.cards__card__img img {
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: -webkit-fill-available;
}
.cards__card__img__tag {
  background-color: antiquewhite;
}
.cards__card__content {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
  justify-content: space-around;
}
.navbar .navbar__link {
  margin-left: 30px;
  color: #242424;
  text-decoration: none;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #F3F3F3;
  width: -moz-fit-content;
  width: fit-content;
}

.test-btn {
  color: #FFF;
  background: linear-gradient(180deg, #FF79DA 7%, #9356DC 100%);
  font-weight: 700;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #F3F3F3;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-primary:hover {
  background-color: white;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #F3F3F3;
}
.btn-outlined-primary:hover {
  background-color: #f3f3f3;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #99E2D0;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-secondary:hover {
  background-color: #ade8d9;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #99E2D0;
}
.btn-outlined-secondary:hover {
  background-color: #99e2d0;
}

.btn-third {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #008766;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-third:hover {
  background-color: #00a179;
}

.btn-outlined-third {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #008766;
}
.btn-outlined-third:hover {
  background-color: #008766;
}

.btn-fourth {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #89C8FA;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-fourth:hover {
  background-color: #a1d3fb;
}

.btn-outlined-fourth {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #89C8FA;
}
.btn-outlined-fourth:hover {
  background-color: #89c8fa;
}

.btn-fifth {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #003A68;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-fifth:hover {
  background-color: #004882;
}

.btn-outlined-fifth {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #003A68;
}
.btn-outlined-fifth:hover {
  background-color: #003a68;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #9356DC;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-purple:hover {
  background-color: #a16be0;
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #9356DC;
}
.btn-outlined-purple:hover {
  background-color: #9356dc;
}

.btn-pink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #FF79DA;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-pink:hover {
  background-color: #ff93e1;
}

.btn-outlined-pink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #FF79DA;
}
.btn-outlined-pink:hover {
  background-color: #ff79da;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: blue;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-info:hover {
  background-color: #1a1aff;
}

.btn-outlined-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid blue;
}
.btn-outlined-info:hover {
  background-color: blue;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: red;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-error:hover {
  background-color: #ff1a1a;
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid red;
}
.btn-outlined-error:hover {
  background-color: red;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #353535;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-black:hover {
  background-color: #424242;
}

.btn-outlined-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #353535;
}
.btn-outlined-black:hover {
  background-color: #353535;
}

.btn-background {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #EAEAEA;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-background:hover {
  background-color: #f7f7f7;
}

.btn-outlined-background {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #EAEAEA;
}
.btn-outlined-background:hover {
  background-color: #eaeaea;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #FFF;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #FFF;
}
.btn-outlined-white:hover {
  background-color: white;
}

.btn-grey {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #F6F6F6;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-grey:hover {
  background-color: white;
}

.btn-outlined-grey {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.3em solid #F6F6F6;
}
.btn-outlined-grey:hover {
  background-color: #f6f6f6;
}

#heart {
  width: 4em;
}

#fonctionnement {
  position: relative;
  right: 2em;
  border-radius: 1.25em 0 0 1.25em;
  min-width: 5.125em;
  background-color: var(--grey-shade);
  border: solid 1px var(--grey-shade);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dot {
  display: flex;
  justify-content: center;
  min-width: 1.5em;
  height: 1.5em;
  align-items: center;
  line-height: 1em;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  border: 2px solid var(--grey-shade);
  background-color: #9356DC;
  color: #FFF;
  font-weight: 300;
  font-size: 16px;
  position: relative;
  right: 1.3em;
  z-index: 4;
  font-size: inherit;
}

.tag {
  position: absolute;
  right: 2em;
  padding: 0.5em;
  background-color: aquamarine;
}/*# sourceMappingURL=main.css.map */